* {
	margin: 0;
	border: 0;
	padding: 0;
}

body {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	color: gray;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

div#header {
	width: 100%;
	background-color: gray;
	height: 50px;
	margin: 0 auto;
}

.logo {
	float: left;
	margin-top: 10px;
	margin-left: 30px;
}

.logo a {
	font-size: 1.6em;
	color: #fff;
}

label#userLbl {
	margin-top: 12px;
	margin-right: 10px;
    float: right;
    color: #fff;
    font-size: 1.2em;
}

div#container {
	margin: 0 auto;
	height: 100%;
	width: 700px;
	clear: both;
	margin-left: 300px;
}

#container input {
	width: 100%;
    clear: both;
}

#container textarea {
	width: 100%;
    clear: both;
    height: 60px;
}

.menu-icon {
	color: white;
	float: left;
	padding-top: 15px;
	padding-left: 10px;
	cursor: pointer;
}

#menuToggle {
	display: none;
}

#menuToggle:checked ~ .sidebar {
	position: absolute;
	left: 0;
}

.sidebar {
	width: 240px;
	height: 100%;
	background-color: gray;
	float: left;
	margin-top: 1px;
	position: absolute;
	left: -240px;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
}

ul#nav li:last-child a {
	border-bottom: none;
}

ul#nav li {
	list-style: none;
}

ul#nav li a {
	height: 30px;
	color: white;
	display: block;
	padding-top: 16px;
	padding-left: 10px;
	font-size: 0.8em;
	border-bottom: 1px solid white;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;	
}

ul#nav li a:hover {
	background-color: #454747;
	color: white;
	padding-left: 30px;
}

ul#nav li a.selected {
	background-color: #454747;
	color: white;
}

.content1, .content2, .content3 {
	width: 80%;
	height: 100%;
	background-color: white;
	padding: 15px;
	margin: auto;
}

input.file, input.updateFile {
	margin-left: 150px;
}

.inputContent, textarea {
    font-size: 12px;
    outline: none;
    color: #777;
    padding-left: 10px;
    margin: 10px;
    margin-top: 12px;
    margin-left: 150px;
    width: 290px;
    height: 35px;
    border: 1px solid #c7d0d2;
    border-radius: 2px;
}

button {
	width: 120px;
	height: 40px;
	color: white;
	background-color: gray;
	border-radius: 2px;
	cursor: pointer;
	border: 1px solid #c7d0d2;
	margin-top: 20px;
}

#menuList, #deleteMenuList {
	margin-bottom: 30px;
	width: 300px;
	height: 30px;
	padding: 2px 2px 2px 2px;
	border: 1px solid #c7d0d2;
}





