body {
    font-family: 'Lato', sans-serif;
    background-color: #f0f0f0;
    opacity: 0.9;
}

.image-size {
    width: 90%;
    height: 90%;
    padding: 14px;
    border-radius: 20px;
    padding-top: 100px
}

.add {
    font-size: 20px;
}

#desc {
    font-size: 25px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: -25px;
}

#header {
    font-size: 30px;
    margin-left: 175px;
    padding-bottom: 10px;
    color: #7ce5e6;
}

#menu ul {
    display: inline-block;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    margin-top: 5px;


}

#menu li {
    display: inline-block;
    margin: 0px;
    padding: 0px;

}

#menu a:link,
a:visited {
    display: inline-block;
    font-weight: bold;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ffffff;
    background-color: #464749;
    margin-left: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-decoration: none;
}

#menu a:hover,
a:active {
    background-color: #7ce5e6;
}

.add-button {
    font-size: 20px;
    margin-left: 300px;
    border-radius: 20px;
    background-color: #464749;
    color: #ffffff;
    text-decoration: none;
}

button:hover {
    background-color: #7ce5e6;
}

.fixed-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 50px;
    background-color: #464749;
}

@media screen and (min-width: 600px) and (max-width: 1600px) {
     #main-div {
        width: 100%;
        height: 100%;
        margin-top: auto;
        padding-left: 50px;
        padding-top: 40px;
        margin-top: 7%;
    }

    #menu ul {
        margin-left: 33%;
        margin-top: 5px;
    }

    #header {
        font-size: 46px;
        padding-top: 6%;

    }

    .fixed-nav-bar {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        width: 100%;
        height: 50px;
        background-color: #464749;
        padding-bottom: 30px;
}

    .add-button {
        margin-left: 80%;
    }

    #desc {
        font-size: 35px;
    }

    .image-size {
        padding-top: 72px;

    }
}

        


    





